html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(
    194deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );

  font: 300 1.5rem "Roboto";
  text-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.75);
  color: white;

  line-height: 2.4rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.025rem;
}
